<h4>Astronauts:</h4>

<p>Average age: <%= @average_age %></p>

<% @astronauts.each do |astronaut| %>
  <p>Name: <%= astronaut.name %> </p>
  <p>Age: <%= astronaut.age %> </p>
  <p>Job: <%= astronaut.job %> </p>
  <p>Space Missions: </p>
  <% astronaut.space_missions.each do |mission| %>
    <p> <%= mission.title %> </p>
  <% end %>
  <p>Total time in space: <%= astronaut.space_missions.sum(:trip_length) %> hours</p>
  <!-- how do I do ^ that in the model or controller?  or is this why Dione owes me pizza? -->
<% end %>
